h3 {
	text-shadow: 2px 2px black;
}

p {
	font-family: monospace;
}

textarea {
	width: 330px;
	height: 100px;
	background-color: #4c4c4c; 
	resize: none; 
	border-radius: 5px;
	color: white;
}

nameTag {
	color: skyblue;
	text-shadow: 2px 2px black;
}

.btn {
	width: 100px;
	height: 30px;
}

.image {
	margin: 5px;
	width: 700px;
	height: auto;
	border: 2px solid grey;
	border-radius: 10px;
}

.panel-danger {
	background-color: #666666;
	margin-top: 85px;
	margin-right: 12px;
	height: auto;
	border: 2px solid grey;
}

.comment-box {
	margin-left: 25px;
	width: 525px;
	height: auto;
	padding: 20px;
	margin-bottom: 4px;
	background-color: #191919;
	border-radius: 5px;
}

.h3Indent {
	padding-left: 15px;
}

.dateFont {
	display: inline;
	color: orange;
	margin-left: 200px;
}

.mainFont {
	font-family: Calibri;
}