h3 {
	text-shadow: 2px 2px black;
}


.image {
	margin: 5px;
	width: 1000px;
	height: auto;
	border: 2px solid grey;
	border-radius: 10px;
}

.panel-danger {
	background-color: #666666;
	margin-top: 85px;
	margin-right: 12px;
	height: auto;
	border: 2px solid grey;
}