.navbar-default .navbar-brand {
	color: white;
	text-shadow: 2px 1px black;
}

.navbar-default .navbar-brand:hover {
	color: darkgreen;
}

.navbar-default .navbar-brand:visited {
	text-decoration: none;
	color: white;
}

.navbar {
	border: solid lightgreen 1px;
	background: #6FB76F;
}


.pull-left {
	font-family: Bangers;
	font-size: 2em;
}
